.section-container {
    background-color: #202020 !important;
    color: white;
    height: 90vh;
    margin-top: 20px;
    border-radius: 20px;
}

.title {
    position: relative;
}

.title::after {
    content: "";
    background-color: green;
    position: absolute;
    left: 0;
    top: 100%;
    width: 40%;
    height: 3px;
}